ToDo:
    * Write Goals and purpose of this
    * Change ladderStart and chuteStart to snake_case
    * turn off spell check
    * change functions to lowercase and snake case
    * add better documentation for single_game_chutes_n_ladders()
    * add documentation for MultipleGamesChutesAndLadders 
        * create file_name
    * spell folder_name correctly

Goals:
* Make this code better

In [1]:
# import statements
import pandas as pd
import random

In [2]:
columnNames = ['turn','die_value','position_start','postion_end']
ChutesLaddersDF = pd.DataFrame(columns=columnNames)

In [5]:
def single_game_chutes_n_ladders():
    """Returns a simulation of a single player's positions in Chutes & Ladders as a Pandas DataFrame.
    Specific fields include:
        - turn: the turn number 
        - die_value: the die value [1-6]
        - position_start: the starting position 
        - position_end
    """
    populate_list = []
    
    #turn | die_roll | position_start | position_end
    my_fields = [1, #turn: starts at 1
                 0, #die_roll: 
                 0, #position_start: player starts off the board at 0 and can roll a 1
                 1] #position end: where player ends their turn after applying chutes & ladders
    i = 1

    ladderStart = [1,4,9,21,28,36,51,71,80]
    ladderEnd = [38,14,31,42,84,44,67,91,100]

    chuteStart = [16,47,49,56,62,64,93,95,98]
    chuteEnd = [6,26,11,53,19,60,73,75,78]


    while my_fields[3]<100: 
        #turn counter
        my_fields[0] = i

        #die roll
        die = random.randint(1,6)
        my_fields[1] = die

        #sets next turn's position_start as the current position_end
        my_fields[2] = my_fields[3]

        #PostitionEnd Update

        if(die+my_fields[3])>100: #Can't exceed 100 logic
            my_fields[3]
        else:
            my_fields[3] =+ die + my_fields[3]


    #For both chutes & Ladders
    #If position end, is on the start of a chute/ladder
    #-take its index
    #and reset PositionEnd to the associated chute/ladder end list

     #Chute List
        if(my_fields[3] in chuteStart):
            # print("You Hit a Chute")
            # print("Your Number is:",my_fields[3])
            my_fields[3]=chuteEnd[chuteStart.index(my_fields[3])]
            # print("Your new spot is",my_fields[3])   
     #Ladder List
        if(my_fields[3] in ladderStart):
            # print("You Hit a Ladder")
            # print("Your Number is:",my_list[3])
            my_fields[3]=ladderEnd[ladderStart.index(my_fields[3])]
            # print("Your new spot is",my_fields[3])

        temp_list = my_fields.copy() #needed to copy the list, because was having assignment issues
        populate_list.append(temp_list)
        i=i+1
    ChutesLaddersDF = pd.DataFrame(populate_list, columns=columnNames)
    return(ChutesLaddersDF)

In [6]:
df = single_game_chutes_n_ladders()
df.tail()

    turn  die_value  position_start  postion_end
6      7          5              84           89
7      8          4              89           73
8      9          1              73           74
9     10          2              74           76
10    11          4              76          100

In [ ]:
def MultipleGamesChutesAndLadders(NumGames):
    df_master = SingleGameChutesAndLadders()
    df_master['Game'] = 1
    for i in range(1,NumGames):
        df_temp = SingleGameChutesAndLadders()
        df_temp['Game'] = i + 1
        df_master = df_master.append(df_temp)
    df_master.reset_index(inplace = True)
    df_master.to_csv(str(NumGames)+"Chutes&LaddersGamesSimulated.csv")  
    return(df_master)

In [ ]:
MultipleGamesChutesAndLadders(1000)

In [ ]:
df_master

In [ ]:
df1 = SingleGameChutesAndLadders()
df2 = SingleGameChutesAndLadders()

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
master = pd.concat([df1,df2])

In [ ]:
master2 = df1.append(df2)

In [ ]:
master2

In [ ]:
master

In [ ]:
ChutesLaddersDF