ToDo:
   * ~Write Goals and purpose of this~
   * ~Change ladderStart and chuteStart to snake_case~
   * ~change functions to lowercase and snake case~
   * ~add better documentation for single_game_chutes_n_ladders()~
   * ~add documentation for MultipleGamesChutesAndLadders~
        * ~create file_name~
    * ~spell folder_name correctly~

Objectives:
* Create functions that simulate single and multiple games of Chutes and Ladders

In [1]:
# import statements`
import pandas as pd
import random
from datetime import datetime

In [2]:
column_names = ['turn','die_value','position_start','position_end']
chutes_n_ladders_df = pd.DataFrame(columns=column_names)

In [3]:
def single_game_chutes_n_ladders():
    """Returns a simulation of a single player's positions in Chutes & Ladders as a Pandas DataFrame.
    Specific fields include:
        - turn: the turn number 
        - die_value: the die value [1-6]
        - position_start: the starting position 
        - position_end
    """
    populate_list = []
    
    #turn | die_roll | position_start | position_end
    my_fields = [1, #turn: starts at 1
                 0, #die_roll: 
                 0, #position_start: player starts off the board at 0 and can roll a 1
                 1] #position end: where player ends their turn after applying chutes & ladders
    i = 1

    ladder_start = [1,4,9,21,28,36,51,71,80]
    ladder_end = [38,14,31,42,84,44,67,91,100]

    chute_start = [16,47,49,56,62,64,93,95,98]
    chute_end = [6,26,11,53,19,60,73,75,78]


    while my_fields[3]<100: 
        #turn counter
        my_fields[0] = i

        #die roll
        die = random.randint(1,6)
        my_fields[1] = die

        #sets next turn's position_start as the current position_end
        my_fields[2] = my_fields[3]

        #PostitionEnd Update

        if(die+my_fields[3])>100: #Can't exceed 100 logic
            my_fields[3]
        else:
            my_fields[3] =+ die + my_fields[3]


    #For both chutes & Ladders
    #If position end, is on the start of a chute/ladder
    #-take its index
    #and reset PositionEnd to the associated chute/ladder end list

     #Chute List
        if(my_fields[3] in chute_start):
            # print("You Hit a Chute")
            # print("Your Number is:",my_fields[3])
            my_fields[3]=chute_end[chute_start.index(my_fields[3])]
            # print("Your new spot is",my_fields[3])   
     #Ladder List
        if(my_fields[3] in ladder_start):
            # print("You Hit a Ladder")
            # print("Your Number is:",my_list[3])
            my_fields[3]=ladder_end[ladder_start.index(my_fields[3])]
            # print("Your new spot is",my_fields[3])

        temp_list = my_fields.copy() #needed to copy the list, because was having assignment issues
        populate_list.append(temp_list)
        i=i+1
    chutes_n_ladders_df = pd.DataFrame(populate_list, columns=column_names)
    return(chutes_n_ladders_df)

In [4]:
df = single_game_chutes_n_ladders()
df.tail()

    turn  die_value  position_start  position_end
20    21          6              99            99
21    22          3              99            99
22    23          3              99            99
23    24          5              99            99
24    25          1              99           100

In [5]:
def multiple_games_chutes_n_ladders(num_games):
    """Returns multiple simulation via num_games of a single player's positions in Chutes & Ladders as a Pandas DataFrame."""
    
    code_run_date = datetime.today()
    code_run_date_str = code_run_date.strftime("%Y-%m-%d")
    
    file_name = str(num_games) + '_chutes_n_ladders_games_simulated_' + code_run_date_str + '.csv'
    
    multiple_games_df = single_game_chutes_n_ladders()
    multiple_games_df['game'] = 1
    for i in range(1,num_games):
        df_temp = single_game_chutes_n_ladders()
        df_temp['game'] = i + 1
        multiple_games_df = pd.concat([multiple_games_df, df_temp], axis=0)
    
    multiple_games_df.reset_index(inplace = True)
    multiple_games_df.to_csv(file_name)  
    return(multiple_games_df)

In [6]:
x = multiple_games_chutes_n_ladders(10000)

In [7]:
x.tail()

        index  turn  die_value  position_start  position_end   game
323577      9    10          5              97            97  10000
323578     10    11          6              97            97  10000
323579     11    12          5              97            97  10000
323580     12    13          6              97            97  10000
323581     13    14          3              97           100  10000